repos:
- repo: https://github.com/psf/black
  rev: 23.1.0
  hooks:
  - id: black
    language_version: python3

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.4
  hooks:
    - id: ruff-check
      args: [--fix, --exit-non-zero-on-fix, --no-cache]
      exclude: (^|/)(samples|paddle_samples)/

- repo: https://github.com/Lucas-C/pre-commit-hooks.git
  rev: v1.5.1
  hooks:
    - id: remove-crlf
    - id: remove-tabs
      name: Tabs remver (Python)
      files: (.*\.(py|bzl)|BUILD|.*\.BUILD|WORKSPACE)$
      args: [--whitespaces-count, '4']
