name: Validate-GPU

on:
  pull_request:
    branches:
      - develop

env:
  PR_ID: ${{ github.event.pull_request.number }}
  COMMIT_ID: ${{ github.event.pull_request.head.sha }}
  TASK: GraphNet-CI-${{ github.event.pull_request.number }}-Validate
  BRANCH: ${{ github.event.pull_request.base.ref }}
  CI_name: ci-graphnet-validate
  CFS_DIR: /home/data/cfs
  no_proxy: "bcebos.com,apiin.im.baidu.com,gitee.com,aliyun.com,.baidu.com,.tuna.tsinghua.edu.cn"
  docker_image: "ccr-2vdh3abv-pub.cnc.bj.baidubce.com/ci/paddle:4251d0b615371e0d0ed9040d7455e2b4" # cuda11.7

defaults:
  run:
    shell: bash

jobs:
  validate:
    name: Validate
    if: ${{ inputs.can-skip != 'true' }}
    runs-on:
      group: BD_BJ-V100
    steps:
      - name: Clone GraphNet
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.base.ref }}
          submodules: 'recursive'
          fetch-depth: 1000

      - name: Check bypass
        id: check-bypass
        uses: ./.github/actions/check-bypass
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          workflow-name: validate

      - name: Merge PR to test branch
        if: steps.check-bypass.outputs.can-skip != 'true'
        run: |
          git fetch origin pull/${PR_ID}/merge
          git checkout -b test FETCH_HEAD

      - name: Check docker image and run container
        env:
          work_dir: ${{ github.workspace }}
          CACHE_DIR: /home/data/cfs/.cache
        if: steps.check-bypass.outputs.can-skip != 'true'
        run: |
          container_name=${TASK}-${core_index}-$(date +%Y%m%d-%H%M%S)
          echo "container_name=${container_name}" >> ${{ github.env }}
          docker container ls -a --filter "name=GraphNet-CI-*-Validate-${core_index}*" --format "{{.ID}}" | xargs -r docker rm -f
          docker run -d -t --gpus all --name ${container_name} --shm-size=128g \
            -v "/home/data/cfs:/home/data/cfs" \
            -v "/home/data/cfs/.cache:/root/.cache" \
            -v "/home/data/cfs/.ccache:/root/.ccache" \
            -v "/dev/shm:/dev/shm" \
            -v ${{ github.workspace }}/../../..:${{ github.workspace }}/../../.. \
            -v ${{ github.workspace }}:/graphnet \
            -e python \
            -e core_index \
            -e BRANCH \
            -e PR_ID \
            -e COMMIT_ID \
            -e work_dir \
            -e no_proxy \
            -e CI_name \
            -e CACHE_DIR \
            -e GITHUB_API_TOKEN \
            -e CFS_DIR \
            -w /graphnet --network host ${docker_image}

      - name: Run check
        env:
          work_dir: ${{ github.workspace }}
        run: |
          docker exec -t ${{ env.container_name }} /bin/bash -c '
          source ${{ github.workspace }}/../../../proxy
          git config --global --add safe.directory ${work_dir}
          bash ${work_dir}/tools/ci/check_validate.sh
          '

      - name: Terminate and delete the container
        if: always()
        run: |
          set +e
          docker exec -t ${{ env.container_name }} /bin/bash -c 'rm -rf * .[^.]*'
          docker rm -f ${{ env.container_name }}
